*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

header{
    position: absolute;
    font-size: 50px;
    top: 5px;
    width: 100%;
    text-align: center;
}

footer{
    font-size: 22px;
    text-align: center;
    bottom: 1%;
    left: 0;
    height: 40px;
    position: absolute;
    width: 90%;
    display: block;
    top: 95%;
}

img{
    max-width: 222px;
    max-height: 116px;
    object-fit: fill;
    position: absolute;
    align-items: stretch;
    top: 65px;
    transform: rotate(14deg);
    margin: 5px;
}

body{
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
}

.container{
    background-color: dimgrey;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 5px;
    top: 200px;
}

.resultado{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    border: 5px;
    border-radius: 10px;
    padding: 20px 25px;
}

.revela{
    width: 90px;
    height: 30px;
}


/*modo*/
body.dark {
    background: #292c35;
    color: #fafafa;
}

.checkbox {
    opacity: 0;
    position: absolute;
}
  
.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}
  
.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
  
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
  
.fa-moon {
    color: #f1c40f;
}
  
.fa-sun {
    color: #f39c12;
}

@media (max-width: 1191px) {
    .container{
        top: 277px
    }
    img{
        top: 146px
    }
    }
@media (max-width: 600px) {
    .container{
        top: 295px
    }
    img{
        top: 175px
    }
    }
@media (max-width: 416px) {
    footer{
        bottom: 15px;
    }
    }
@media (max-width: 487px) {
    .container{
        top: 350px
    }
    img{
        top: 228px
    }
    }
@media (max-width: 360px) {
    .container{
        top: 404px
    }
    img{
        top: 286px
    }
    }